
<div class="jumbotron ">
    <form class="form-horizontal">
        <h2 class="header">Material input</h2>
        <tabset>
            <tab heading="Result">
                <div class="jumbotron ">
                    <div class="jumbotron shadow-z-1">
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFile" class="col-lg-2 control-label">File</label>
                            <div class="col-lg-10">
                                <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
                                <input type="file" id="inputFile" multiple="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea"></textarea>
                                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="html">
                <div class="jumbotron ">
                    <pre it-prettyprint=""  class="prettyprint lang-html">
                       <div class="form-group">
                           <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                           <div class="col-lg-10">
                               <input type="email" class="form-control" placeholder="Email">
                           </div>
                       </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" placeholder="Password">

                </div>
            </div>
            <div class="form-group">
                <label for="inputFile" class="col-lg-2 control-label">File</label>
                <div class="col-lg-10">
                    <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
                    <input type="file"  multiple="">
                </div>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" ></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>
                    </pre>
                </div>
            </tab>

        </tabset>

    </form>
</div>


<div class="jumbotron ">
    <form class="form-horizontal">
        <h2 class="header">floating-label</h2>

        <tabset>
            <tab heading="Result">
                <div class="jumbotron ">
                    <div class="jumbotron shadow-z-1">
                        <div class="row">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <input it-input class="form-control floating-label" type="text" placeholder="Nom" ng-model="user.name">
                            </div>
                            <div class="form-group">
                                <input it-input class="form-control floating-label" type="text" it-text="Prénom" ng-model="user.surname">
                            </div>
                            <div class="form-group">
                                <input it-input class="form-control floating-label" it-Error="Erreur" type="email" placeholder="Email" it-error="user.error" ng-model="user.email">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="html">
                <div class="jumbotron ">
                    <pre it-prettyprint=""  class="prettyprint lang-html">
                       <div class="col-lg-10">
                           <div class="form-group">
                               <input it-input class="form-control floating-label" type="text" placeholder="Nom" ng-model="user.name">
                           </div>
                           <div class="form-group">
                               <input it-input class="form-control floating-label" type="text" it-text="Prénom" ng-model="user.surname">
                           </div>
                           <div class="form-group">
                               <input it-input class="form-control floating-label" it-Error="Erreur" type="email" placeholder="Email" it-error="user.error" ng-model="user.email">
                           </div>
                       </div>
                    </pre>
                </div>
            </tab>

        </tabset>

    </form>
</div>