

.it-menu-content {
    display:block;
    margin: 30px;
}

.it-menu-content.itesoft-hide{
    position:fixed;
    left:250px;
    width:100%;
}

.it-menu-content.itesoft-slide{
    position:relative;
}