@charset "UTF-8";

@import "colors",
"variables",
"coding",
"login",
"thin-bootstrap",
"tab",
"font",
"input",
"btn",
"icon",
"effect",
"autocomplete",
"side-menu",
"message-panel",
"panel",
"excel-table",
"dashboard";


.ui-grid-cell {
  text-align: center;
}

.ui-grid-header-cell {
  text-align: center;
  padding: 5px 5px 5px 15px;
}

.btn-lazy-grid {
  font-size: 14px;
  margin: 0px;
  height: inherit;
  padding: 0px 17px;
}

.table-striped > tbody > tr.it-row-selected > td {
  background-color: $rowSelected;
}

.it-detail-panel {
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-inverse.navbar {
  background-color: white;
  color: #1C1F26;
}

select[disabled] {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;
}

/*for IE10*/
select[disabled]::-ms-expand {
  display: none;
}

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: auto;
}

.it-autocomplete-div * {
  font-size: 15px;
}

.fa-1.5 {
  font-size: 1.5em;
}

.padding-left-80 {
  padding-left: 80px;
}

.fa-soft {
  background-color: #676B74;
  color: white;
  border: none !important;
  border-radius: 2px;
}

.fa-soft :hover {
}

.form-control:not(textarea), .form-group .form-control:focus, .form-group-default .form-control:focus {
  height: 30px !important;
}

.scrollable {
  overflow: auto !important;
}

.it-scpas-bloc-content-scrollable {
  overflow-y: auto;
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;

}