<div class="row">
    <div class="col-md-6">
        <!-- Panel -->
        <it-view-panel>
            <it-view-master-header>
                <button class="btn btn-primary" title="Add"><span class="fa fa-plus fa-lg"></span></button>
                <button class="btn btn-danger" title="Delete"><span class="fa fa-trash fa-lg"></span></button>
                <button class="btn btn-success" title="Down"><span class="fa fa-chevron-down fa-lg"></span></button>
                <button class="btn btn-success" title="Up"><span class="fa fa-chevron-up fa-lg"></span></button>
            </it-view-master-header>
        </it-view-panel>
    </div>
</div>