<it-master-detail >
    <it-master it-master-data="data" it-lang="'fr'" it-master-detail-control="masterDetails">
        <it-master-header it-search-placeholder="Recherche" >
            <button class="btn btn-primary" title="Add"><span class="fa fa-plus fa-lg"></span></button>
            <button class="btn btn-danger" title="Delete" ng-click="deleteSelectedItems()"><span class="fa fa-trash fa-lg"></span></button>
            <button class="btn btn-success" title="Down"><span class="fa fa-chevron-down fa-lg"></span></button>
            <button class="btn btn-success" title="Up"><span class="fa fa-chevron-up fa-lg"></span></button>
        </it-master-header>
    </it-master>
    <it-detail>
        <it-detail-header>
            <button class="btn btn-warning" title="Save" ng-click="saveCurrentItem()">
                <span class="fa fa-floppy-o fa-lg"></span>
            </button>
            <button class=" btn btn-info" title="Check">
                <span class="fa fa-file-code-o fa-lg"></span>
            </button>
            <button class="btn btn-success" title="Undo" ng-click="undoChange()">
                <span class="fa fa-undo fa-lg"></span>
            </button>
        </it-detail-header>
        <it-detail-content>
            <div class="form-group">
                <input it-input type="text" class="form-control floating-label" id="priorityDescription"
                       it-text="code"
                       ng-model="currentItemWrapper.currentItem.code" name="" ng-required="true"
                        />
            </div>
            <div class="form-group">
                <input it-input type="text" class="form-control floating-label" id="priorityCategory"
                       it-text="description"
                       ng-model="currentItemWrapper.currentItem.description" name=""
                        />
            </div>
            <div class="form-group">
                <input type="checkbox" it-toggle ng-model="currentItemWrapper.currentItem.enabledde" it-text="tete"/>
            </div>


        </it-detail-content>

    </it-detail>
</it-master-detail>