
<div class="jumbotron ">
    <form class="form-horizontal">
        <h2 class="header">floating-label</h2>

        <tabset>
            <tab heading="Result">
                <div class="jumbotron ">
                    <div class="jumbotron shadow-z-1">
                        <div class="row">
                            <tabset>
                                <tab heading="Tab 1">
                                    <tabset>
                                        <tab heading="Tab 4">

                                        </tab>
                                        <tab heading="Tab 5">

                                        </tab>
                                        <tab heading="Tab 6">

                                        </tab>
                                    </tabset>
                                </tab>
                                <tab heading="Tab 2">

                                </tab>
                                <tab heading="Tab 3">

                                </tab>
                            </tabset>

                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="html">
                <div class="jumbotron ">
                    <pre it-prettyprint=""  class="prettyprint lang-html">
                       <tabset>
                           <tab heading="Tab 1">
                               <tabset>
                                   <tab heading="Tab 4">

                                   </tab>
                                   <tab heading="Tab 5">

                                   </tab>
                                   <tab heading="Tab 6">

                                   </tab>
                               </tabset>
                           </tab>
                           <tab heading="Tab 2">

                           </tab>
                           <tab heading="Tab 3">

                           </tab>
                       </tabset>
                    </pre>
                </div>
            </tab>

        </tabset>

    </form>
</div>