html {
  overflow: hidden; }

.login-block {
  display: table; }

.it-login-background {
  background-size: 100%;
  background: url("../../assets/img/login/login_background.jpg") no-repeat;
  height: 100%;
  width: 100%;
  position: absolute; }

@media (min-width: 1366px) {
  .form-control:not(textarea)::-webkit-input-placeholder {
    color: white; }
  .form-control:not(textarea)::-moz-placeholder {
    color: white; }
  .form-control:not(textarea):-ms-input-placeholder {
    color: white; }
  .form-control:not(textarea) {
    height: 40px; }
  .form-control:not(textarea):focus {
    height: 40px; } }

@media (min-width: 468px) {
  .it-login-input {
    border: 1px solid white;
    background-image: none; } }

@media (max-height: 600px) {
  .it-login-logo {
    background: none;
    height: auto;
    width: auto; } }

.it-login-button {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.white {
  color: white; }

.login-block {
  float: none;
  margin-top: 50px;
  width: 300px; }

.no-margin {
  margin: 0px !important; }

.no-margin-t {
  margin-top: 0px !important; }

.no-wrap {
  white-space: nowrap; }

.no-overflow {
  overflow: hidden; }

.no-padding-lr {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-t {
  padding-top: 0px !important; }

.padding-5px {
  padding: 5px !important; }

.padding-l-20px {
  padding-left: 20px !important; }

.min-h-50px {
  min-height: 50px !important; }

.small-btn {
  padding: 6px 6px;
  width: 32px;
  margin-left: 10px;
  border-radius: 3px; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.padding-left-5 {
  padding-left: 5px; }

.padding-right-5 {
  padding-right: 5px; }

.padding-top-5 {
  padding-top: 5px; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-background {
  background-color: transparent !important; }

.medium-padding-btn {
  padding: 2px 10px; }

.table-condensed-small tr > td {
  padding: 0px; }

.center {
  text-align: center !important; }

.no-border {
  border: none !important; }

.full-height {
  height: 100%; }

.it-tab-container {
  background-color: white; }

button.btn.header-tab[disabled] {
  background-color: white !important;
  color: #71788E !important;
  border-left: 3px solid #3A89EB;
  opacity: 1; }

button.btn.header-tab {
  width: 100%;
  height: 35px;
  color: #71788E !important;
  background-color: #eeeeee !important;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px; }

button.btn.header-tab:hover {
  background-color: #8A8F9B !important;
  color: #F5F5F7 !important; }

.color-danger {
  color: #d13d01; }

.color-warning {
  color: #fdb62b; }

.under-tabs-container {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 54px; }

it-tab .btn {
  color: #eeeeee !important;
  font-size: 12px; }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: local("Source Sans Pro"), url(../../assets/fonts/SourceSansPro-Regular.woff2) format("woff2"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), url(../../assets/fonts/SourceSansPro-Bold.woff2) format("woff2"); }

* {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif; }

input, select {
  padding-left: 5px; }

table input.scpas-input, table select.scpas-input, table .it-autocomplete-input {
  margin-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px; }

input.scpas-input, select.scpas-input, .it-autocomplete-input {
  background-color: #F5F5F7;
  color: #1C1F26;
  font-size: 15px;
  background-image: none;
  background-size: 0px;
  margin-bottom: 10px; }

input.scpas-input:hover, select.scpas-input:hover, .it-autocomplete-input:hover {
  background-color: #ffffff;
  border: 2px solid #E1E1E2; }

.form-control:focus {
  border: 2px solid #3A89EB !important;
  background-image: none !important; }

.form-control {
  border: 2px solid #F5F5F7 !important;
  background-image: none !important; }

.form-group .control-label, .form-group-default .control-label {
  color: #71788E;
  font-size: 12px; }

.it-field-warning, .has-warning .form-control {
  background-color: #FEF7E9 !important;
  border: 1px solid #FDB62B !important; }

.it-field-error {
  background-color: #FAEBE5 !important;
  border: 1px solid #D13D01 !important; }

.it-field-error input, .it-field-error select {
  background-color: transparent !important;
  border: none !important; }

.form-control, .form-control.focus, .form-control:focus {
  background-image: none; }

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none; }

table input, table select, table it-autocomplete {
  border: none !important;
  background-color: transparent !important;
  border: none !important; }

.btn {
  border-radius: 3px !important;
  margin-left: 5px;
  margin-right: 5px; }

.btn-success {
  background-color: #3A89EB !important;
  color: #E1E1E2 !important; }

.btn-success:hover {
  background-color: #2B66B0 !important;
  color: #F5F5F7 !important; }

.btn-success[disabled] {
  background-color: #3A89EB !important;
  opacity: 0.5 !important;
  color: #E1E1E2 !important; }

.btn-warning {
  background-color: #8A8F9B !important;
  color: #E1E1E2 !important; }

.btn-warning:hover {
  background-color: #676B74 !important;
  color: #F5F5F7 !important; }

.btn-warning[disabled] {
  background-color: #8A8F9B !important;
  opacity: 0.5 !important;
  color: #E1E1E2 !important; }

.btn-primary {
  background-color: #8A8F9B !important;
  color: #E1E1E2 !important;
  border: none !important; }

.btn-primary:hover {
  background-color: #676B74 !important;
  color: #F5F5F7 !important; }

.btn-primary[disabled] {
  background-color: #8A8F9B !important;
  opacity: 0.5 !important;
  color: #E1E1E2 !important; }

.btn-danger {
  background-color: #8A8F9B !important;
  color: #E1E1E2 !important; }

.btn-danger:hover {
  background-color: #676B74 !important;
  color: #F5F5F7 !important; }

.btn-danger[disabled] {
  background-color: #8A8F9B !important;
  opacity: 0.5 !important;
  color: #E1E1E2 !important; }

.btn {
  text-transform: none !important; }

.btn:hover:not(.btn-link):not(.btn-flat):not(.btn-fab) {
  box-shadow: none; }

@font-face {
  font-family: 'itesoftIcons';
  src: local("itesoftIcons"), url(../../assets/fonts/itesoftIcons.woff2) format("woff2"); }

.fa-16x {
  font-size: 1.6em; }

.fa-slim {
  -webkit-text-stroke: 0.8px white;
  color: #AAA; }

.it-icon {
  margin-top: 7px;
  margin-left: -2px;
  height: 55px;
  display: block;
  font-size: 55px;
  font-weight: 100;
  font-family: "itesoftIcons";
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.small-btn .error_validate {
  font-weight: 100;
  font-size: 40px; }

.error_validate {
  top: -17px;
  left: 0px;
  display: inline-block;
  position: absolute; }

.error_validate:before {
  content: "\EA04"; }

.menu_admin:before {
  content: "\EA1B"; }

.menu_home:before {
  content: "\EA1C"; }

.menu_rapport:before {
  content: "\EA1D"; }

.menu_search:before {
  content: "\EA1E"; }

.menu_settings:before {
  content: "\EA1F"; }

.menu_task:before {
  content: "\EA20"; }

.smooth {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.smooth.ng-hide {
  opacity: 0; }

.it-autocomplete-div:hover .it-autocomplete-btn {
  color: #3A89EB; }

.it-autocomplete-div {
  padding-right: 0px;
  padding-left: 0px; }

.it-autocomplete-btn {
  line-height: 30px;
  right: 0px; }

.it-autocomplete-container, .datepicker {
  border: 1px solid #3A89EB;
  background-image: none !important; }

.it-autocomplete-container {
  width: 150px; }

.style2016 .it-side-menu .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active {
  background-color: #3A89EB;
  color: #F5F5F7; }

.style2016 .navbar-inverse.navbar {
  background-color: white;
  color: #1C1F26; }

.style2016 it-side-menu-header .it-material-design-hamburger__layer {
  background-color: #1C1F26 !important; }

.style2016 it-side-menu-header .nav .btn {
  color: #71788E !important; }

.style2016 it-side-menu nav ul .logo {
  height: 80px !important;
  width: 100%;
  background: black url("../../assets/img/logo/logo_50x50.png") center no-repeat; }

.style2016 it-side-menu nav ul .profile-scpas {
  position: absolute;
  bottom: 0;
  width: 80px; }

.style2016 it-side-menu nav ul .profile-scpas img {
  width: 40px;
  max-height: 45px; }

.style2016 it-side-menu nav ul li a .bubule {
  width: 22px;
  height: 17px;
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 13px;
  background-color: #E1E1E2; }

.style2016 it-side-menu nav ul li.active a .bubule {
  color: #3A89EB !important;
  background-color: #F5F5F7; }

.style2016 it-side-menu nav {
  font-size: 30px; }

.style2016 .it-side-menu .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
  border-left: none; }

.style2016 it-side-menu nav ul li a {
  height: 50px;
  text-align: center; }

.style2016 .it-side-menu .it-sidebar-inner {
  overflow: hidden !important; }

it-message-panel it-side-panel .message-panel-below {
  z-index: 100 !important; }

.messages-title {
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px; }

.messages-container-title {
  padding-top: 10px;
  padding-left: 5px; }

.badge.btn-message-filter {
  color: #000000;
  background-color: #eeeeee;
  font-weight: normal;
  padding: 5px 12px;
  border-radius: 15px; }

.badge.btn-message-filter:hover {
  color: #000000;
  background-color: #e0e0e0; }

.badge.btn-comment-filter-activated {
  background-color: #c5cae9; }

.badge.btn-comment-filter-activated:hover {
  background-color: #9fa8da; }

.badge.btn-notification-filter-activated {
  background-color: #ffe0b2; }

.badge.btn-notification-filter-activated:hover {
  background-color: #ffcc80; }

.btn-refresh-messages {
  padding: 0;
  margin: 0; }

.message {
  padding: 10px;
  color: #000000;
  padding-right: 50px;
  position: relative; }

.comment {
  background-color: #c5cae9;
  border-radius: 10px;
  border-top-left-radius: 0px; }

.adminComment {
  color: red;
  background-color: #ffc8c5; }

.adminCommentFrom {
  font-weight: bold;
  color: black; }

.notification {
  background-color: #ffe0b2; }

.message label {
  color: #000000;
  margin: 0px; }

.message-code {
  color: white;
  background-color: black;
  padding-left: 3px;
  padding-right: 3px; }

.date-container {
  padding-bottom: 10px;
  text-align: center; }

.date {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  color: #757575;
  text-align: center; }

.time {
  color: #757575;
  font-size: 11px;
  padding-bottom: 10px;
  padding-left: 10px; }

.comment-input {
  width: 100%;
  background-color: #f9f9f9 !important;
  border: 1pt solid #EEE; }

.comment-input:focus {
  border-color: #c5cae9; }

.left-panel {
  padding-bottom: 20px;
  margin-bottom: 0 !important; }

.middle-panel {
  float: left;
  padding-bottom: 20px;
  margin-bottom: 0 !important; }

.right-panel {
  float: left;
  padding-bottom: 20px;
  margin-bottom: 0 !important; }

.container-with-footer {
  padding-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px; }

.ui-layout-container {
  background-color: white; }

.it-button-bar {
  border: 0;
  background-color: #FFF;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; }

.excel-style-header {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
  border: 1px solid #eeeeee; }

.excel-style th {
  background-color: #E1E1E2; }

.it-lines-row-num {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #E1E1E2;
  font-size: 15px;
  cursor: pointer; }

.it-row-selected .it-lines-row-num {
  background-color: #3A89EB !important;
  color: white; }

tr.it-line td {
  height: 40px;
  background-color: #f9f9f9 !important;
  border-bottom: 1pt solid #EEE;
  color: #1C1F26;
  font-size: 15px; }

.excel-style-settings {
  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  background: url("../../assets/img/task/setting_20_gray.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  border: 0;
  font-family: none;
  text-indent: 20000px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0px !important; }

.table-striped > tbody > tr.excel-style-row-selected > td {
  background-color: #3A89EB !important;
  box-shadow: inner x, y-0px, -1px;
  color: white; }

.it-header-tab {
  height: 25px;
  color: #8A8F9B !important;
  background-color: #E1E1E2 !important;
  font-size: 11px;
  margin-top: 0px; }

.dashboard-with-footer {
  height: 100%;
  padding-bottom: 60px; }

.dashboard-panel-container {
  height: 100%;
  padding-right: 0 !important;
  position: relative;
  background-color: white; }

.dashboard-scrollable-content {
  height: 100%;
  max-height: 100%;
  overflow: auto; }

.dashboard-panel-content {
  padding-top: 30px;
  height: 100%;
  max-height: 100%;
  position: relative;
  background-color: white; }

.dashboard-panel-header {
  height: 30px;
  position: absolute;
  width: 100%;
  padding: 0px 10px;
  color: #1C1F26;
  font-size: 20px;
  z-index: 20; }

.dashboard-panel-container-indicator {
  background-color: white;
  height: 150px; }

.dashboard-panel-container-indicator:hover {
  cursor: pointer; }

.dashboard-panel-container-indicator:hover .dashboard-indicator-count {
  color: #3A89EB;
  opacity: 1; }

.dashboard-row-indicator {
  margin-bottom: 10px;
  padding: 5px;
  width: 20%;
  float: left;
  box-sizing: border-box;
  display: inline-block; }

.dashboard-indicator-count {
  vertical-align: middle;
  text-align: center;
  color: #8A8F9B;
  opacity: 0.6;
  font-size: 75px;
  width: 100%; }

.dashboard-indicator-title {
  vertical-align: middle;
  text-align: center;
  color: #1C1F26;
  font-size: 15px;
  width: 100%; }

.ui-grid-cell {
  text-align: center; }

.ui-grid-header-cell {
  text-align: center;
  padding: 5px 5px 5px 15px; }

.btn-lazy-grid {
  font-size: 14px;
  margin: 0px;
  height: inherit;
  padding: 0px 17px; }

.table-striped > tbody > tr.it-row-selected > td {
  background-color: #eeeeee; }

.it-detail-panel {
  overflow-x: hidden;
  overflow-y: auto; }

select[disabled] {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none; }

/*for IE10*/
select[disabled]::-ms-expand {
  display: none; }

.form-control[disabled], fieldset[disabled] .form-control {
  cursor: auto; }

.it-autocomplete-div * {
  font-size: 15px; }

.fa-1.5 {
  font-size: 1.5em; }

.padding-left-80 {
  padding-left: 80px; }

.fa-soft {
  background-color: #676B74;
  color: white;
  border: none !important;
  border-radius: 2px; }

.form-control:not(textarea), .form-group .form-control:focus, .form-group-default .form-control:focus {
  height: 30px !important; }

.scrollable {
  overflow: auto !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }
