@charset "UTF-8";

body.it-theme-container {
  overflow: hidden
}

.it-theme-container {

  .login-block {
    display: table;
  }

  .it-login-background {
    background-size: 100%;
    background: url('../img/login/login_background.jpg') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @media (min-width: 1366px) {
    .form-control:not(textarea)::-webkit-input-placeholder {
      color: white;
    }
    .form-control:not(textarea)::-moz-placeholder {
      color: white;
    }
    .form-control:not(textarea):-ms-input-placeholder {
      color: white;
    }
    .form-control:not(textarea) {
      height: 40px;
    }
    .form-control:not(textarea):focus {
      height: 40px;
    }
  }

  @media (min-width: 468px) {
    .it-login-input {
      border: 1px solid white;
      background-image: none;
    }
  }

  @media (max-height: 600px) {
    .it-login-logo {
      background: none;
      height: auto;
      width: auto;
    }
  }

  .it-login-button {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .white {
    color: white;
  }

  .login-block {
    float: none;
    margin-top: 50px;
    width: 300px;
  }

  .it-login-input, .it-login-input:focus {
    color: white !important;
    padding: 5px !important;
  }

  .it-login-input::-webkit-input-placeholder {
    color: white !important;
  }

  .it-login-input:-moz-placeholder {
    color: white !important;
  }

  .it-login-input::-moz-placeholder {
    color: white !important;
  }

  .it-login-input:-ms-input-placeholder {
    color: white !important;
  }
}