.it-container {
  it-side-menu {
    .it-side-menu .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active {

      background-color: $btnSuccessBackColor;
      color: #F5F5F7;

    }
    .navbar-inverse.navbar {
      background-color: white;
      color: #1C1F26;
    }

    nav ul .logo {
      height: 80px !important;
      width: 100%;
      background: black url("../../../../../img/logo/logo_50x50.png") center no-repeat;
    }

    nav ul .profile-scpas {
      position: absolute;
      bottom: 0;
      width: 80px;
    }

    nav ul .profile-scpas img {
      width: 40px;
      max-height: 45px;
    }

    nav ul li a .bubule {
      width: 22px;
      height: 17px;
      position: absolute;
      right: 10px;
      top: 2px;
      font-size: 13px;
      background-color: #E1E1E2;
    }

    nav ul li.active a .bubule {
      color: $btnSuccessBackColor !important;
      background-color: #F5F5F7;
    }

    nav {
      font-size: 30px;
    }

    .it-side-menu .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
      border-left: none;
    }

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
      color: black !important;

    }

    nav ul li a {
      height: 50px;
      text-align: center;
    }

    .it-side-menu .it-sidebar-inner {
      overflow: hidden !important;
    }
  }

  it-side-menu, it-side-menu-header {
    .navbar-inverse {
      background-color: white;
    }
  }

  it-side-menu-header {
    .it-material-design-hamburger__layer {
      background-color: #1C1F26 !important;
    }
    .nav .btn {
      color: #71788E !important
    }
  }

  .navbar-nav > li > input {
    color: black !important;
  }

}