@import "../colors";

$primary: $light-blue;
$success: $green;
$info: #17C3F5;
$warning: #fdb62b;
$warningOff: #825D16;
$danger: #d13d01;
$dangerContent: #FBE7DE;
$dangerOff: #52271a;
$rowSelected: $grey-200;
$headerBackColor: $grey-200;
$footerBackColor: white;
$footerTextColor: #8a8f9b;

$tabBackColor: $headerBackColor;
$tabColor: #71788E;
$selectedTabBackColor: white;
$selectedtabColor: #71788E;
$highlightColor: #3A89EB;
$errorPanelBackColor: #1c1f26;
$errorPanelColor: #e4e4e6;
$errorPanelHeaderBackColor: #8a8f9b;
$errorPanelHeaderColor: #ffffff;

$selectedlineColor: #a4aabd;
$selectedlineText: white;

$selectBorderColor: #DEDEDF;

$inputTextColor: #1C1F26;
$inputTextBackColor: #F5F5F7;

$homePanelFollowedInvoicesOdd: white;
$homePanelFollowedInvoicesEven: white;

$labelColor: $tabColor;

$btnColor: #E1E1E2;

$btnSuccessHoverBackColor: #2B66B0;
$btnSuccessBackColor: #3A89EB;
$btnSuccessHoverColor: #F5F5F7;

$btnPrimaryBackColor: #8A8F9B;
$btnWarningBackColor: $btnPrimaryBackColor;

$btnWarningHoverBackColor: #676B74;
$btnDangerHoverBackColor: $btnWarningHoverBackColor;
$btnPrimaryHoverBackColor: $btnWarningHoverBackColor;

$btnDangerBackColor: $btnWarningBackColor;
$btnPrimaryDisableBackColor: $btnWarningBackColor;
$btnDangerDisableBackColor: $btnWarningBackColor;

$btnPrimaryHoverColor: #F5F5F7;
$btnWarningHoverColor: $btnPrimaryHoverColor;
$btnDangerHoverColor: $btnPrimaryHoverColor;


