@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

.it-container {

  it-autocomplete {

    .it-autocomplete-container {
      position: absolute;
    }

    .it-autocomplete-content {
      top: 0px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .it-autocomplete-select {
      background-color: white;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }

    .it-autocomplete-select:hover {
      background-color: whitesmoke;
    }

    .it-autocomplete-selected:hover {
      background-color: #337ab6;
    }

    .it-autocomplete-selected {
      background-color: #337ab7;
      cursor: default;
      color: white;
    }

    .ui-grid-filter-container .it-autocomplete-container {
      position: fixed;
      z-index: 9999;
    }

    .it-autocomplete-btn {
      width: 30px;
      position: absolute;
      top: 0;
      right: 15px;
      pointer-events: none;
      display: inline-block;
    }

    .it-autocomplete-div-visible:hover .it-autocomplete-btn {
      color: #03a9f4;
    }

    .it-autocomplete-container {
      max-height: 200px;
      min-height: 50px;
      min-width: 50px;
      background-color: white;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 2000;
      @include box-shadow(1px 1px 1px #666);
    }

    .it-autocomplete-div-visible {
    }

    .it-autocomplete-input {
      display: inline-block;
      padding-right: 30px !important;
    }
  }
}