.it-container {
  it-lazy-grid {
    .it-lazy-grid-btn-button-navigator {
      position: relative;
      overflow: hidden;
      padding: 6px 12px !important;
      border: 1px solid rgb(204, 204, 204) !important;
      background-color: rgb(243, 243, 243) !important;
      border-radius: 4px !important;
      margin: 0px 5px 0px 0px !important;
    }
    .it-lazy-grid-btn-button-navigator input[type=button] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
}

