.it-master-detail-grid .ngRow.selected {
  background: #f1ba19;
  background: -moz-linear-gradient(top, #f1ba19 0%, #f9db21 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1ba19), color-stop(100%,#f9db21));
  background: -webkit-linear-gradient(top, #f1ba19 0%,#f9db21 100%);
  background: -o-linear-gradient(top, #f1ba19 0%,#f9db21 100%);
  background: -ms-linear-gradient(top, #f1ba19 0%,#f9db21 100%);
  background: linear-gradient(to bottom, #f1ba19 0%,#f9db21 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1ba19', endColorstr='#f9db21',GradientType=0 );
}

.it-master-detail-grid
{

  width: 100%;

}

.it-master-detail-container {
  overflow-y: auto;
  height: 600px;
}
