

$menu-animation-speed:            300ms !default;
$menu-bg:                         #eee !default;
$menu-width:                      260px !default;
$menu-header:                      50px !default;

/* make sidebar nav vertical*/

.it-side-menu .navbar{
  min-height : 100%;
}
.it-side-menu .nav .navbar-nav{
  margin: 0;
}

.it-side-menu   .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.it-side-menu .navbar ul {
  float: none;
  display: block;
}

.it-side-menu .it-sidebar-inner  .navbar {
  width: $menu-width;
}

.it-side-menu .it-sidebar-inner {
  height: 100%;
  overflow-y: auto;
  width: $menu-width + 50px;
}
.it-side-menu .navbar li {
  float: none;
  display: block;
}


.it-side-menu .navbar .navbar-nav>li>a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.it-sub-menu > a > h5:before{
  content: "+";
  float: right;
  -webkit-transform:scale(2)  rotate(90deg);
  -ms-transform: scale(2) rotate(90deg);
  -o-transform: scale(2) rotate(90deg);
  transform: scale(2) rotate(90deg);
  -webkit-transition: all $menu-animation-speed ease;
  transition: all $menu-animation-speed ease;

}


.it-sub-menu.toggled > a > h5:before {
  content: "-";
  float: right;
  -webkit-transform: scale(2) rotate(180deg);
  -ms-transform: scale(2) rotate(180deg);
  -o-transform:scale(2) rotate(180deg);
  transform:  scale(2) rotate(180deg);
  -webkit-transition: all $menu-animation-speed ease;
  transition: all $menu-animation-speed ease;
}

.it-side-menu-group{
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: $menu-bg;
  overflow: hidden;
}

.it-menu-animated {
  -webkit-transition: all $menu-animation-speed ease;
  transition: all $menu-animation-speed ease;
}

.it-side-menu-collapse {
  margin-left: 0px;
  opacity: 0;
  max-height: 0;
  transition: all $menu-animation-speed ease-in-out;
  overflow: hidden;
}

.it-side-menu-expanded{
  max-height: 900px;
  opacity: 1;
  -webkit-transition :  all $menu-animation-speed ease-in-out;
  transition: all $menu-animation-speed ease-in-out;

}


.nav.navbar-nav.it-side-menu-expanded > li {
  margin-left: 15px;
}




.it-menu-collapsable {
  overflow-y: hidden;
}

.it-menu-content {
  position: relative;
  margin-right :0;
  float: right;
  padding-left: 0px;
  overflow: auto;
  width: 100%;
  clear: both;
  z-index: 0;
  display: block;
  height: 100%;
  background-color: $menu-bg;
}

.it-container {
  padding-left : 0px;
  padding-right : 0px;
  margin-left: auto;
  margin-right: auto;
}

.it-menu-content.it-side-menu-overlay {
  padding-left:$menu-width;
}



.it-side-menu-header.navbar {
  padding:0 15px;
}



.it-material-design-hamburger button {
  display: inline-block;
  border: none;
  float: left;
  margin-right: 15px;
  background: none;
}

.it-material-design-hamburger__icon {
  padding: 2.3rem 0rem;
  border-radius: 2px;
  height: 60px;
  cursor: pointer;
}


.it-material-design-hamburger__layer:before {
  bottom: 200%;
  border-radius: 2px;

}

.it-material-design-hamburger__layer:after {
  top: 200%;
  border-radius: 2px;

}

.it-side-menu{
  top:$menu-header;
  width:$menu-width;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  min-height: 100%;
  max-height: 100%;
  display:block;
  box-shadow: -1px 0 2px rgba(0,0,0,.2),1px 0 2px rgba(0,0,0,.2);
  background-color: $menu-bg;
  padding-bottom: $menu-header ;
}

.it-side-menu-left{
  left:-$menu-width;
}

.it-side-menu-left.it-side-menu-slide{
  left:0;
  overflow-y: auto;
}

.it-side-menu-right{
  right:-$menu-width;
}

.it-side-menu-right.it-side-menu-slide{
  right:$menu-width;
}


.it-material-design-hamburger__icon--to-arrow {
  -webkit-animation-name: it-material-design-hamburger__icon--slide;
  animation-name: it-material-design-hamburger__icon--slide;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.it-material-design-hamburger__icon--to-arrow:before {
  -webkit-animation-name: it-material-design-hamburger__icon--slide-before;
  animation-name: it-material-design-hamburger__icon--slide-before;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.it-material-design-hamburger__icon--to-arrow:after {
  -webkit-animation-name: it-material-design-hamburger__icon--slide-after;
  animation-name: it-material-design-hamburger__icon--slide-after;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.it-material-design-hamburger__icon--from-arrow {
  -webkit-animation-name: it-material-design-hamburger__icon--slide-from;
  animation-name: it-material-design-hamburger__icon--slide-from;
}

.it-material-design-hamburger__icon--from-arrow:before {
  -webkit-animation-name: it-material-design-hamburger__icon--slide-before-from;
  animation-name: it-material-design-hamburger__icon--slide-before-from;
}

.it-material-design-hamburger__icon--from-arrow:after {
  -webkit-animation-name: it-material-design-hamburger__icon--slide-after-from;
  animation-name: it-material-design-hamburger__icon--slide-after-from;
}

@-webkit-keyframes it-material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
    -ms-transform:  rotate(180deg);;
    transform: rotate(180deg);
  }
}

@keyframes it-material-design-hamburger__icon--slide {
  0% {
  }
  100% {
    -webkit-transform: rotate(180deg);
    -ms-transform:  rotate(180deg);;
    transform: rotate(180deg);
  }
}

@-webkit-keyframes it-material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
    -ms-transform:  rotate(45deg);;
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes it-material-design-hamburger__icon--slide-before {
  0% {
  }
  100% {
    -webkit-transform: rotate(45deg);
    -ms-transform:  rotate(45deg);;
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@-webkit-keyframes it-material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -ms-transform:  rotate(-45deg);;
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@keyframes it-material-design-hamburger__icon--slide-after {
  0% {
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
}

@-webkit-keyframes it-material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
    -ms-transform:  rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
  }
}

@keyframes it-material-design-hamburger__icon--slide-from {
  0% {
    -webkit-transform: rotate(-180deg);
    -ms-transform:  rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
  }
}

@-webkit-keyframes it-material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
    -ms-transform:  rotate(45deg);
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes it-material-design-hamburger__icon--slide-before-from {
  0% {
    -webkit-transform: rotate(45deg);
    -ms-transform:  rotate(45deg);
    transform: rotate(45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@-webkit-keyframes it-material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

@keyframes it-material-design-hamburger__icon--slide-after-from {
  0% {
    -webkit-transform: rotate(-45deg);
    -ms-transform:  rotate(-45deg);
    transform: rotate(-45deg);
    margin: 3% 37%;
    width: 75%;
  }
  100% {
  }
}

.it-material-design-hamburger__layer:before, .it-material-design-hamburger__layer:after {
  display: block;
  width: inherit;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  background: inherit;
  left: 0;
  content: '';
  -webkit-animation-duration: $menu-animation-speed;
  animation-duration: $menu-animation-speed;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.it-material-design-hamburger__layer {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #ffffff;
  position: relative;
  -webkit-animation-duration: $menu-animation-speed;
  animation-duration: $menu-animation-speed;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

