// Bootstrap shades
$primary: $light-blue;
$success: $green;
$info: #17C3F5;
$warning: $deep-orange;
$danger: $red;
$background : $grey-200;
$modal-background :  $white;
$animation-speed : 300ms !default;
$block-hilight : rgba(153,0,255,0.5);
$block-removed : #ff1a1a;


//$btn-info-text: $darkbg-text;