@charset "UTF-8";

@import

  //Side menu
"colors",
"variables",
"nav-tabs",
"side-menu",
"master-detail",
"view-title",
"busy-indicator";

html {
  padding-top : 70px;
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100% !important;
}
.it-view-header hr {
  border-top: 2px solid $primary;
}
.it-view-header h3 {
  color: $primary;
}

.it-fill {
  height: 100% !important;
  min-height: 100%;
}

input::-ms-clear {
  display: none;
}

.it-watermark {
  position: absolute;
  top : 80px;
  opacity: 0.25;
  font-size: 3em;
  width: 100%;
  text-align: center;
}
