@charset "UTF-8";

@import

  //Side menu
"nav-tabs",
"side-menu",
"colors",
"variables";

html {
  padding-top : 70px;
}

.it-view-header hr {
  border-top: 2px solid $primary;
}
.it-view-header h3 {
  color: $primary;
}
