
    <!--<it-master-detail >-->
        <!--<it-master it-master-data="data" it-lang="'fr'" it-master-detail-control="masterDetails" it-lock-on-change="true" it-en>-->
            <!--<it-master-header it-search-placeholder="Recherche" >-->
                <!--<button class="btn btn-primary" title="Add" ng-disabled="currentItemWrapper.hasChanged" ng-click="addNewItem()"><span class="fa fa-plus fa-lg"></span></button>-->
                <!--<button class="btn btn-danger" title="Delete" ng-disabled="currentItemWrapper.hasChanged" ng-click="deleteSelectedItems()"><span class="fa fa-trash fa-lg"></span></button>-->
                <!--<button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Down"><span class="fa fa-chevron-down fa-lg"></span></button>-->
                <!--<button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Up"><span class="fa fa-chevron-up fa-lg"></span></button>-->
            <!--</it-master-header>-->
        <!--</it-master>-->
        <!--<it-detail>-->
            <!--<it-detail-header>-->
                <!--<button class="btn btn-warning" title="Save"  ng-disabled="!currentItemWrapper.hasChanged" ng-click="saveCurrentItem()">-->
                    <!--<span class="fa fa-floppy-o fa-lg"></span>-->
                <!--</button>-->
                <!--<button class=" btn btn-info" title="Check">-->
                    <!--<span class="fa fa-file-code-o fa-lg"></span>-->
                <!--</button>-->
                <!--<button class="btn btn-success" title="Undo" ng-click="undoChange()">-->
                    <!--<span class="fa fa-undo fa-lg"></span>-->
                <!--</button>-->

            <!--</it-detail-header>-->
            <!--<it-detail-content>-->
                <!--<div class="form-group">-->
                    <!--<input it-input type="text" class="form-control floating-label" id="priorityDescription"-->
                           <!--it-text="code"-->
                           <!--ng-model="currentItemWrapper.currentItem.code"-->
                           <!--name=""-->
                           <!--ng-required="true"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input it-input type="text" class="form-control floating-label" id="priorityCategory"-->
                           <!--it-text="description"-->
                           <!--ng-model="currentItemWrapper.currentItem.description" name=""/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<input type="checkbox"-->
                           <!--it-toggle-->
                           <!--ng-model="currentItemWrapper.currentItem.enabledde"-->
                           <!--it-text="tete"/>-->
                <!--</div>-->
            <!--</it-detail-content>-->
        <!--</it-detail>-->
    <!--</it-master-detail>-->

        <tabset>
            <tab heading="Result" disable="hasChanged()">
                    <it-master-detail >
                        <it-master it-master-data="data" it-lang="'fr'" it-master-detail-control="masterDetails" it-lock-on-change="true" it-en>
                            <it-master-header it-search-placeholder="Recherche" >
                                <button class="btn btn-primary" title="Add" ng-disabled="currentItemWrapper.hasChanged" ng-click="addNewItem()"><span class="fa fa-plus fa-lg"></span></button>
                                <button class="btn btn-danger" title="Delete" ng-disabled="currentItemWrapper.hasChanged" ng-click="deleteSelectedItems()"><span class="fa fa-trash fa-lg"></span></button>
                                <button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Down"><span class="fa fa-chevron-down fa-lg"></span></button>
                                <button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Up"><span class="fa fa-chevron-up fa-lg"></span></button>
                            </it-master-header>
                        </it-master>
                        <it-detail>
                            <it-detail-header>
                                <button class="btn btn-warning" title="Save"  ng-disabled="!currentItemWrapper.hasChanged" ng-click="saveCurrentItem()">
                                    <span class="fa fa-floppy-o fa-lg"></span>
                                </button>
                                <button class=" btn btn-info" title="Check">
                                    <span class="fa fa-file-code-o fa-lg"></span>
                                </button>
                                <button class="btn btn-success" title="Undo" ng-click="undoChange()">
                                    <span class="fa fa-undo fa-lg"></span>
                                </button>

                            </it-detail-header>
                            <it-detail-content>
                                <div class="form-group">
                                    <input it-input type="text" class="form-control floating-label"
                                           it-text="Name"
                                           ng-model="currentItemWrapper.currentItem.name"
                                           name=""
                                           ng-required="true"/>
                                </div>
                                <div class="form-group">
                                    <input it-input type="text" class="form-control floating-label"
                                           it-text="Email"
                                           ng-model="currentItemWrapper.currentItem.email" name=""/>
                                </div>
                                <div class="form-group">
                                    <input it-input type="text" class="form-control floating-label"
                                           it-text="Body"
                                           ng-model="currentItemWrapper.currentItem.body" name=""/>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox"
                                           it-toggle
                                           ng-model="currentItemWrapper.currentItem.enabledde"
                                           it-text="tete"/>
                                </div>
                            </it-detail-content>
                        </it-detail>
                    </it-master-detail>
                <script type="text/ng-template" id="cellTemplate.html">
                    <div class="ngCellText"><i ng-class="grid.appScope.itAppScope.retrieveClass(row.entity['Active'])"></i></div>
                </script>
            </tab>
            <tab heading="html"  disable="hasChanged()">
                    <pre it-prettyprint=""  class="prettyprint  lang-html">

<it-master-detail >
    <it-master it-master-data="data" it-lang="'fr'" it-master-detail-control="masterDetails" it-lock-on-change="true" it-en>
        <it-master-header it-search-placeholder="Recherche" >
            <button class="btn btn-primary" title="Add" ng-disabled="currentItemWrapper.hasChanged" ng-click="addNewItem()"><span class="fa fa-plus fa-lg"></span></button>
            <button class="btn btn-danger" title="Delete" ng-disabled="currentItemWrapper.hasChanged" ng-click="deleteSelectedItems()"><span class="fa fa-trash fa-lg"></span></button>
            <button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Down"><span class="fa fa-chevron-down fa-lg"></span></button>
            <button class="btn btn-success" ng-disabled="currentItemWrapper.hasChanged" title="Up"><span class="fa fa-chevron-up fa-lg"></span></button>
        </it-master-header>
    </it-master>
    <it-detail>
        <it-detail-header>
            <button class="btn btn-warning" title="Save"  ng-disabled="!currentItemWrapper.hasChanged" ng-click="saveCurrentItem()">
                <span class="fa fa-floppy-o fa-lg"></span>
            </button>
            <button class=" btn btn-info" title="Check">
                <span class="fa fa-file-code-o fa-lg"></span>
            </button>
            <button class="btn btn-success" title="Undo" ng-click="undoChange()">
                <span class="fa fa-undo fa-lg"></span>
            </button>

        </it-detail-header>
        <it-detail-content>
            <div class="form-group">
                <input it-input type="text" class="form-control floating-label" id="priorityDescription"
                       it-text="code"
                       ng-model="currentItemWrapper.currentItem.code"
                       name=""
                       ng-required="true"/>
            </div>
            <div class="form-group">
                <input it-input type="text" class="form-control floating-label"
                       it-text="description"
                       ng-model="currentItemWrapper.currentItem.description" name=""/>
            </div>
            <div class="form-group">
                <input type="checkbox"
                       it-toggle
                       ng-model="currentItemWrapper.currentItem.enabledde"
                       it-text="tete"/>
            </div>
        </it-detail-content>
    </it-detail>
</it-master-detail>
<script type="text/ng-template" id="cellTemplate.html">
    <div class="ngCellText"><i ng-class="grid.appScope.itAppScope.retrieveClass(row.entity['Active'])"></i></div>
</script>
                    </pre>
            </tab>
            <tab heading="Controller" disable="hasChanged()">
                <div class="jumbotron ">
                    <pre it-prettyprint=""  class="prettyprint lang-html">
angular.module('itesoft-showcase')

    .controller('MasterDetailController', ['$scope','Comments', function($scope,Comments) {
        $scope.data = [];
        $scope.data =  Comments.query().$promise.then(function(datas){
            $scope.data = datas;
        });


        $scope.masterDetails = {};

        $scope.masterDetails = {
            columnDefs : [{ field: 'name', displayName: 'BUTTON_LANG_EN', headerCellFilter:'translate', width: '20%', enableSorting:false,enableColumnMenu:false},
                { field: 'email', displayName: 'Email ',  width: '10%', enableSorting:true,enableColumnMenu:false},
                { field: 'body', displayName: 'Comments body',  width: '30%', enableSorting:true,enableColumnMenu:false},
                { field: 'enabledde', displayName: 'My value 3', cellTemplate:'cellTemplate.html',  enableSorting:false,enableColumnMenu:false}]
        };

        $scope.masterDetails.navAlert = {
            text:'{{\'BUTTON_LANG_EN\' | translate}}',
            title:'{{\'FOO\' | translate}}'
        };

        function _removeItems(items,dataList){
            angular.forEach(items,function(entry){
                var index = dataList.indexOf(entry);
                dataList.splice(index, 1);
            })
        }

        $scope.deleteSelectedItems = function(){
            console.log($scope.masterDetails);
            var items =$scope.masterDetails.getSelectedItems();
            _removeItems(items, $scope.data);
        };

        $scope.saveCurrentItem = function(){
            $scope.$broadcast('unlockCurrentItem');
        };
        $scope.undoChange = function(){
            $scope.masterDetails.undoChangeCurrentItem();
            $scope.masterDetails.fillHeight();
        };

        $scope.addNewItem = function(){
            var newItem =  {
                "code" : "Code " + ($scope.data.length+1) ,
                "description": "Description " + ($scope.data.length+1),
                "enabledde" : true
            };
            $scope.data.push(newItem);
            $scope.masterDetails.setCurrentItem(newItem).then(function(success){
                $scope.$broadcast('lockCurrentItem',false);
            },function(error){

            });
        };
        $scope.retrieveClass = function(activation) {
            return 'fa fa-circle-o';
        };


        $scope.hasChanged = function(){
            if($scope.masterDetails.getCurrentItemWrapper() != null){
                return $scope.masterDetails.getCurrentItemWrapper().hasChanged;
            } else {
                return false;
            }
        }
    }]);

                        </pre>
                </div>
            </tab>

        </tabset>

