
<div class="jumbotron " it-bottom-glue="" style="overflow-x: hidden;" ng-init="showDetail = true;">

    <div  ng-show="(activeState == 'master')" style="background-color: red;float: left;" class="it-master-detail-slide-right col-xs-12 col-md-6 it-fill">
        <button ng-if="mobile" ng-click="goToDetail()">Go detail</button>
        <h2>master </h2>
    </div>
    <div ng-show="desktop || (activeState == 'detail' && mobile)" style="background-color: white;float: left;"  class="it-fill it-master-detail-slide-left col-xs-12 col-md-6 ">

        <button ng-if="mobile" ng-click="goToMaster()" class="btn  btn-fab btn-raised  it-material-design-hamburger__icon">
            <span class="menu-animated it-material-design-hamburger__layer it-material-design-hamburger__icon--to-arrow">
            </span>
        </button>
        <h2>detail</h2>
    </div>

</div>
